<nav class="navbar navbar-default navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="color:#457AB2">Invoice System</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" style="color:#457AB2; left: 145px;">{{user}}&nbsp;&nbsp;({{acctType}})</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/statusgrid" style="color:#457AB2">Status Grid</a></li>
        <li><a routerLink="/lineitemgrid" style="color:#457AB2; padding-right: 145px;">Line Item Grid</a></li>
      </ul>
    </div>
  </div>
</nav>
