<div id="content">
  <div style="padding:6px;">
    <nav class="navbar navbar-expand-lg navbar-light" style="border-radius:5px; border: 0.5px solid #457AB2; box-shadow: 2px 2px 10px #457AB2; background-color:#eceff1; text-align: center;">
      <a class="navbar-brand" style="cursor: pointer; color:#457AB2; font-size: 20px; font-weight: 500;" *ngIf="loggedIn != true">Invoice To Cash</a>
      <a class="navbar-brand" style="cursor: pointer; color:#457AB2; font-size: 18px; font-weight: 500;" *ngIf="loggedIn == true">{{lastName}},&nbsp;{{firstName}}&nbsp;
      </a>
      <span class="mr-auto" *ngIf="acctType.length === 1 && loggedIn == true">
        ({{acctType[0]}})
      </span>
      <span class="mr-auto" *ngIf="acctType.length > 1 && loggedIn == true">
        <select>
          <option *ngFor="let type of acctType" [value]="type.Value">
            {{type}}
          </option>
        </select>
      </span>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="color:#457AB2; cursor: pointer;" (click)="logOut()" *ngIf="loggedIn == true">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/statusgrid" style="color:#457AB2; padding-left: 20px;" *ngIf="loggedIn == true">Status Grid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lineitemgrid" style="color:#457AB2; padding-left: 20px;" *ngIf="loggedIn == true">Line Item Grid</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>



  <router-outlet></router-outlet>

</div>
