<!-- Page Content Holder -->
<div id="content">
  <div style="height:50px;background-color:white; border: 1px solid #457AB2;padding:8px; margin-bottom: 8px;margin-top:8px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:100%; box-shadow: 1px 1px 3px #457AB2; background-color:#E0EBF6; text-align: center;">

      <a class="navbar-brand" href="#" style="color:#457AB2; font-size: 18px">{{user}}&nbsp;&nbsp;({{acctType}})</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li>
            <a routerLink="/statusgrid" style="color:#457AB2">Status Grid</a>
          </li>
          <li>
            <a routerLink="/lineitemgrid" style="color:#457AB2; padding-left: 20px;">Line Item Grid</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>



  <router-outlet></router-outlet>

</div>


