<div class="col-xs-12 col-sm-10 col-md-12" style="background-color:white; border: 1px solid #457AB2;padding: 8px">
   <div class="card">
    <div class="card-header text-center" style="background-color: #457AB2; color:white; padding:8px; border-radius: 0;">Invoice Receipt Review</div>
    <div class="card-body" style="height:100%; background-color: #E0EBF6; padding: 8px; border: 1px solid #457AB2; ">
      <ag-grid-angular
        #agGrid
        enableColResize
        class="ag-theme-blue"
        style="width: initial; height: 400px;"
        id="myGrid"
        [enableFilter]="true"
        [enableSorting]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [context]="context"
        [frameworkComponents]="frameworkComponents"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>
  </div>
</div>
