<div style="margin-bottom:8px; width:100%;">

  <div class="card">
    <div class="card-header text-center" style="background-color: #457AB2; color:white; padding:8px; border-radius: 0;">{{currDay}}</div>
    <div class="card-body" style="height:120px; background-color: #E0EBF6; padding: 8px; border: 1px solid #457AB2; ">
      <ag-grid-angular #agGrid enableColResize style="width: 100%;height: 103px;" class="ag-theme-blue" [enableFilter]="true" [enableSorting]="true"
        [rowData]="rowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>

</div>
