<div style="margin-bottom:17px; width:100%;">

  <div class="card">
    <div class="card-header text-center" style="border: 0.5px solid #457AB2; background-color: #457AB2; color:white; border-radius: 0; height:40px; padding-top:7px;">{{currDay}}</div>
    <div class="card-body" style="background-color: #eceff1;">
      <ag-grid-angular #agGrid enableColResize style="width: 100%;height: 143px;" class="ag-theme-blue" [enableFilter]="true" [enableSorting]="true"
        [rowData]="rowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>

</div>
