<div class="col-xs-12 col-sm-10 col-md-12" style="background-color:white; border: 1px solid #457AB2;padding-bottom:10px;padding-top: 20px;padding-right: 30px;padding-left: 30px">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">Payment Request Signature
    </div>
    <div class="panel-body" style="background-color: #E0EBF6">
      <ag-grid-angular
        #agGrid
        class="ag-theme-blue"
        style="width: initial; height: 180px;"
        id="myGrid"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [context]="context"
        [frameworkComponents]="frameworkComponents"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>
  </div>
</div>
