<div class="col-xs-12 col-sm-10 col-md-12" style="padding: 8px; padding-top: 2px;">
  <app-add-modal></app-add-modal>
  <div class="card">
    <div class="card-header text-center" style="background-color: #457AB2; color:white; padding:8px; border-radius: 0;">Status</div>
    <div class="card-body" style="height:100%; background-color: #E0EBF6; padding: 8px;">
      <ag-grid-angular #agGrid enableColResize style="width: initial; height: 363px;" class="ag-theme-blue" [enableFilter]="true"
        [enableSorting]="true" [enableColResize]="true" [debug]="true" [rowData]="rowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
  </div>
</div>
